/* ------------header css 始まり ------------ */
.header {
  padding: 100px 30px 80px;
  letter-spacing: 1px;
  height: 100vh;
}

.header__slideshow {
  position: relative;
  min-width: 960px;
  height: 190px;
}

.header__title--name {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  font-size: 8rem;
  text-align: center;
}

.header__title--sub {
  font-size: 1.5rem;
}


.header__title--name {
  display: none;
}

.header__button {
  display: inline-block;
  width: 200px;
  padding: 20px;
  border-radius: 4px;
  margin: 80px 30px 0 30px;
  background-color: #7d7070;
  color: #fff;
  font-size: 1.5rem;
  
}



.header__button--contact {
  background-color: #e89936;
}

/* ------------header css 終わり ------------ */

/* ------------about css 始まり ------------ */

.about {
  padding: 80px 30px;
  background-color: #fff;
  color: #333;
}

.heading {
  position: relative;
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-size: 4rem;
}

.heading::before,
.heading::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #999;
}

.heading::before {
  bottom: 5px;
}

.about__text {
  margin: 30px 0;
  line-height: 2.5;
}

/* ------------about css 終わり ------------ */

/* ------------- works css 始まり ---------------- */
.works {
  padding: 80px 0;
}

.works__wrapper {
  display: flex;
  width: 100%;
}

.works__cards--img {
  width: 100%;
  height: 50%;
  border-radius: 6px;
}

.works__cards {
  width: 320px;
  height: 380px;
  border-radius: 6px;
  color: #333;
  background-color: #fff;
  margin: 30px auto;
  box-shadow: 0 2px 2px #fff;

}

.works__cards--title {
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 30px;
}

.works__cards--text {
  color: #999;
}

.works__cards--button {
  margin: 0 auto;
  color: #333;
  background-color: #b3f7f7;
  width: 60%;
  padding: 10px 5px;
  border: 0px solid #25e2e2;
  border-radius: 22px;
  cursor: pointer;
}



/* .works__cards--link:hover,
.works__cards--link a:hover {
  background-color: #BBFFFF;
  color: #fff;
} */

/* ------------- works css 終わり ---------------- */


/* ------------- skills css 始まり ---------------- */

.skills {
  padding: 80px 0;
  background-color: #FFF;
  color: #333;
}


.skills__content--title {
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.skills__content--sub {
  color: #999;
  letter-spacing: 1px;
}

.skills__content--icon img {
  width: 5%;
}

/* ------------- skills css 終わり ---------------- */

/* ------------- contact css 始まり ---------------- */
.contact {
  padding: 80px 0;
  color: #fff;
}

.contact__form {
  width: 20%;
  margin: 0 auto;
  text-align: left;
}

.contact__form--content {
  margin-top: 40px;
}

.contact__form--text {
  letter-spacing: 1px;
}

.contact__form--content input {
  padding: 10px 20px;
  border-radius: 4px;
  width: 90%;
}

.contact__form--content textarea {
  padding: 10px 20px;
  border-radius: 4px;
  width: 100%;
}

.contact__form--button {
  width: 50%;
  padding: 15px 20px;
  background-color: #999;
  color: #fff;
  font-size: 1.4rem;
  border: 2px solid #999;
  border-radius: 4px;
  cursor: pointer;
}




/* ------------- contact css 終わり ---------------- */


/* ------------- footer css 始まり ---------------- */
.footer {
  background-color: #fff;
  padding: 80px 0;
}

.footer__button--scroll {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 35px;
  bottom: 20px;
}

.footer__button--scroll a {
  width: 60px;
  height: 60px;
}

.footer__button--scroll a::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f139';
  font-size: 5rem;
  color: #3fefee;
  font-size: 5rem;
}

.footer__text {
  color: #999;
}



/* --- ポップアップ 始まり --- */
.popup {
  display: none;
  height: 100vh;
  width: 100%;
  background: rgba(45, 45, 45, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.popup__content {
  background: #fff;
  padding: 50px;
  height: 250px;
  text-align: center;
  border-radius: 4px;
  margin: auto;
}

.popup__content--text {
  color: #999;
  font-weight: bold;
}


.show {
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.popup__content button {
  padding: 15px 25px;
  margin-top: 30px;
  color: #999;
  border: 1px solid #999;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;

}





/* --- ポップアップ 終わり --- */


/* ------------- footer css 終わり ---------------- */

